{% extends 'navbar.html' %}

{% block title %}Add Hospital Data{% endblock title %}

{% block body %}
<br><br><br><br><br>
<div class="container mt-4">
    <div class="display-4 text-center text-info">Add Hospital Data!</div><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light">
                <br><h4 class="text-center">COVID Care Center</h4>
                {% include "message.html" %}
                <div class="card-body">
                    <form action="/addhospitalinfo" method="post">

                        <div class="form-group">
                            <input type="text" class="form-control mt-2" name="hcode" placeholder="Enter the Hospital Code" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mt-2" name="hname" placeholder="Enter the Hospital Name" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="normalbed" placeholder="Normal Beds Available" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="hicubeds" placeholder="HICU Beds available" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="icubeds" placeholder="ICU Beds available" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control mt-2" name="ventbeds" placeholder="Ventilator Beds available" required>
                        </div>
                        <br>
                        <button class="btn btn-info" type="submit">Add</button>
                    </form>
                </div>
            </div>



        </div>
        
        
        
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://source.unsplash.com/600x1060/?medical,hospital" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">&nbsp; Hospital Data</h5>
                      <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">Hospital Code : </li>
                            <li class="list-group-item">Hospital Name : </li>
                            <li class="list-group-item">Normal Beds Available : </li>
                            <li class="list-group-item">HICU Beds Available : </li>
                            <li class="list-group-item">ICU Beds Available : </li>
                            <li class="list-group-item">Ventilator Beds Available : </li>
                            </ul>
                       </div>
                    
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<br>

{% endblock body %}



